html {
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #A11415;
}

header {
  background-color: #4D0000;
}

h1 {
  margin: 0;
  text-align: center;
  color: #FF46FF;
}

h2 {
  margin: 0;
  text-align: center;
  color: #fff;
}

.nav {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: none;
}

.nav li {
  display: inline-bloc;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  border: 1px solid #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #A11415;
}

.left-nav {
  float: left;
  width: 50%;
  background-color: #4D0000;
  }

.right-nav {
  float: right;
  width: 50%;
  background-color: #4D0000;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label {
  background-color: #A11415;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

  .banner {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .banner img {
    width: 100%;
  }

  .banner-content {
    position: absolute;
    top: 0em;
    color: #fff;
    width: 100%;
  }

  .banner-content h1,
  .banner-content p {
    margin: 0;
  }

.banner2 {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.banner2 img {
  width: 100%;
}

.banner-content2 {
  position: absolute;
  top: 2em;
  color: #fff;
  width: 100%;
}

.banner-content2 h1,
.banner-content2 p {
  margin: 0;
}

.about {
  background-color: #FFF7EB;
}

.habout {
  color: #000;
}

.pabout {
  font: normal 100%/1.5 georgia,serif;
  padding: 0 1em 1em 1em;
}

.gal1 {
  width: 50%;
  float: left;
}
.gal2 {
  width: 50%;
  margin-bottom: -5px;
}
.gal3 {
  width: 50%;
  float: left;
  clear: left;
}
.gal4 {
  width: 50%;
  margin-bottom: -5px;
}
.gal5 {
  width: 50%;
  float: left;
  clear: both;
}
.gal6 {
  width: 50%;
}

.menu {
  background-color: #FFF7EB;
}

.menu h2 {
  color: #000;
  padding: 1em 0 .5em 0;
}

.menu h3 {
  font-size: 1.2em;
  margin: 0.5em 0 0 1em;
}

.menu p {
  font: normal 100%/1.5 georgia,serif;
  font-size: 1em;
  margin: 0.5em 0 1.5em 1em;
}
.menu img {
  width: 100%;
  padding: 0 1em 0 1em;
}

.coupons {

}

.coupons p {
  float: right;
  clear: left;
  font: normal 100%/1.5 georgia,serif;
}

.coupons img {
  width: 40%;
}

.coup1 {
  float: left;
  clear: right;
}

.coup2 {
  float: left;
  clear: right;
}

.coup3 {
  float: left;
  clear: right;
}

.rev {
  background-color: #FFF7EB;
  clear: both;
}

.rev h2 {
  color: #000;
  margin: 1em 0 0.5 0;
}

.rev p {
  font: normal 100%/1.5 georgia,serif;
  text-align: center;
}

.contact h4{
  color: #fff;
  margin: 0 0 0 1em;
}

.contact p {
  color: #fff;
  font: normal 100%/1.5 georgia,serif;
  margin: 0 0 1em 1em;
}

.map {
  float: right;
  clear: right;
}

.mah {
  float: right;
  text-align: center;
}

.map img {
  width: 50%;
  float: right;
  clear: left;
}

footer {
  clear: both;
}
